# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor/
/.idea/
# 屏蔽所有本地文件（一般是配置）
*-local.*
/pkg/
